body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    height: 100vh;
}

header {
    background-image: url("assets/images/backgrounds/netherrack.webp");
    background-repeat: repeat-x;
    background-size: 200px 200px;

    color: #FFAA00;
    
    padding: 30px;
}

header h1 {
    font-family: minecraftfont;
    letter-spacing: 4px;
}

header p {
    font-size: small;
    color: #ffcc00;
    display: none;
}

main {
    background-image: url("assets/images/backgrounds/netherrack_dark.webp");
    background-size: 100px 100px;

    height: 80%;

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

main .left-half, main .right-half {
    margin: 50px;
    padding: 25px;

    text-align: left;

    border-width: 5px;
    border-style: ridge;
    border-radius: 20px;
    
    border-color: lightslategray; 

    background-color: rgba(119, 136, 153, 0.5);
}

main .left-half {
    width: 70%;
}

main .right-half {
    width: 30%;
    display: flex;
    flex-direction: column;
}


footer {
    display: flex;

    background-image: url("assets/images/backgrounds/bedrock.webp");
    background-size: 125px 125px;

    padding: 50px;

    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

footer a {
    color: #FFAA00;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}


.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #FFAA00;
}

input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
}

.settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FFAA00;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ffcc00;
}

button:disabled {
    background-color: #553300;
    color: #888;
    border: 1px solid #333;
    
    pointer-events: none; 
}


#search-results {
    margin-top: 10px;
    flex-grow: 1;

    background-image: url("assets/images/backgrounds/nether_bricks.webp");

    border-radius: 20px;

    overflow-y: auto;

    padding: 15px;

    display: flex;
    flex-direction: column;
}

.result-row {
    color: wheat;

    font-family: monospace;
    font-size: 20px;

    border-radius: 10px;
    padding: 4px;

    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.result-row:hover {
    background-color: rgb(134, 115, 115);
}


/*Small screens*/
@media only screen and (max-width:1100px) {
    body {
        height: auto;
    }

    main {
        flex-direction: column;
        height: 140%;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    main .left-half, main .right-half {
        margin: 20px;
    }

    main .left-half {
        width: auto;
        height: 55%;
    }

    main .right-half {
        width: auto;
        height: 300px;
    }
    
    .settings-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 15px;
    }

    #search-results {
        background-size: 100px 100px;
    }
    

}

/*Load custom minecraft font*/
@font-face {
    font-family: minecraftfont;
    src: url("assets/fonts/Minecraft.ttf");
}
